<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Adicionar Turma</h1>
                        </div>
                        <form class="user" [formGroup]="formAddClas">
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" placeholder="Nome"
                                        formControlName="name">
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" formControlName="schedulle">
                                        <option>--- Selecione a Horário --- </option>
                                        <option class="form-control" value="07:00 - 09:30">07:00 - 09:30</option>
                                        <option class="form-control" value="09:30 - 12:00">09:30 - 12:00</option>
                                        <option class="form-control" value="12:00 - 14:30">12:00 - 14:30</option>
                                        <option class="form-control" value="14:30 - 17:00">14:30 - 17:00</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" placeholder="Professor"
                                        formControlName="teacher">
                                </div>
                            </div>
                            <button (click)="addClas()" [disabled]="!formAddClas.valid" data-target=".status"
                                data-toggle="modal" class="btn btn-primary btn-user btn-block">
                                <h6 style="color: white;">Adicionar</h6>
                            </button>
                            <hr>
                        </form>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade status" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <mat-progress-bar *ngIf="status" color='accent' mode="buffer"></mat-progress-bar>
                <h6>{{ message }}</h6>
                <div class="modal-footer">
                    <button *ngIf="!status" class="btn btn-secondary" data-dismiss="modal"
                        (click)="clearForm()">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>